* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.label {
  margin: 1em auto;
  border: 2px solid black;
  width: 280px;
  padding: 0 0.5em;
}

header h1 {
  text-align: center;
  letter-spacing: 0.15px;
}

h1,
p {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.right {
  justify-content: flex-end;
}

header {
  display: block;
}

.note {
  font-size: 0.6rem;
  margin: 5px 0;
  padding: 0 8px;
  text-indent: -8px;
}

.divider {
  border-bottom: 1px solid gray;
  margin: 2px 0;
}

.thick {
  height: 10px;
}

.medium {
  height: 5px;
}

.thick,
.medium {
  background-color: black;
  border: 0;
}

.daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
}
